<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="testLabel"></h1>
</body>

<script>
    window.onload=function(){
        // document.getElementById("dirList").innerHTML='{dirList}';
        // var dirList = '{dirList}';
        // console.log(dirList);
        var dirList = JSON.parse('<!--DIRLIST_JSON-->');
        console.log(dirList);
    }
</script>
</html>